@using Microsoft.AspNetCore.Http
@using RazorPage.Helpers.Constants.Sessions
@using RazorPage.Helpers.Globals
@{
    var username = Context.Session.GetString(AccountConstants.Username);
    var roleId = Context.Session.GetInt32(AccountConstants.RoleId);
}

<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a asp-page="/" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">KOPPEE</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <a class="nav-item nav-link"
                   asp-page="/">
                    @RouteDisplayNames.HomePage
                </a>
                <a class="nav-item nav-link"
                   asp-page="/Home/About">
                    @RouteDisplayNames.AboutPage
                </a>
                <a class="nav-item nav-link"
                   asp-page="/Home/Service">
                    @RouteDisplayNames.Service
                </a>
                <a class="nav-item nav-link"
                   asp-page="/Product/Index">
                    @RouteDisplayNames.MenuPage
                </a>
                <a class="nav-item nav-link"
                   asp-page="/Home/Testimonial">
                    @RouteDisplayNames.TestimonialPage
                </a>
                <a asp-page="/Home/Contact" class="nav-item nav-link">Liên Hệ</a>

                @if (roleId.HasValue && roleId.Value != 1)
                {
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-warning font-weight-bold"
                           data-toggle="dropdown">
                            <i class="fa fa-cog mr-1"></i>Quản lý
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-page="/Employee/POS"><i class="fa fa-cash-register mr-2"></i>Hệ thống POS</a>
                            <a class="dropdown-item" asp-page="/Employee/Orders"><i class="fa fa-list mr-2"></i>Quản lý hóa đơn</a>
                            <a class="dropdown-item" asp-page="/Employee/TableMap"><i class="fa fa-list mr-2"></i>Sơ đồ bàn</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/Order/ReservationSchedule"><i class="fa fa-calendar-week mr-2"></i>Lịch đặt bàn</a>
                            <a class="dropdown-item" asp-page="/Order/Reservation"><i class="fa fa-calendar-plus mr-2"></i>Tạo đặt bàn</a>
                        </div>
                    </div>
                }

                @if (username != null)
                {
                    <div class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle text-primary font-weight-bold"
                           data-toggle="dropdown">
                            <i class="fa fa-user mr-1"></i>@username
                        </a>
                        <div class="dropdown-menu">
                            <a asp-page="/Auth/Logout" class="dropdown-item text-danger">
                                <i class="fa fa-sign-out-alt mr-2"></i>@RouteDisplayNames.LogoutPage
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <a asp-page="/Auth/Login" class="btn btn-primary font-weight-bold ml-3">
                        <i class="fa fa-sign-in-alt mr-1"></i>@RouteDisplayNames.LoginPage
                    </a>
                }
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->